.FormLoginContainer{
background-color: rgb(15, 15, 15);
display: flex;
justify-content: center;
align-items: center;
height: auto;
height: 100vh;
padding: 80px 0;
}
.FormLoginText{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgba(204, 170, 107, 0.6); 
  backdrop-filter: blur(2px); 
 
   width: 540px;
   padding: 10px 0;
}
.formLogindiv{
   
    display: flex;
    flex-direction: column;
   gap: 60px;
 
   padding: 20px 0;
  
}

.FormLoginText h2{
    font-size: 30px;

    color: black;
   
}
.FormLoginText p{
    font-size: 20px;
    color: white;
}
 .LabelLoginForm input{
    width: 420px;
    padding: 13px;
    border: 1px solid  #c9a96e;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    color:white;
}
.LabelLoginForm label{
    color: #9b752f;
}
.LabelLoginForm{
  width: 420px;
  display: flex;
  gap: 10px;
  flex-direction: column;
 
}
.forgotpassword button{
    background-color: transparent;

}
.forgotpassword button:hover{
    background-color: #9c9280;
}
.createaccount button{
    border:  1px solid #c9a96e;
    background-color: transparent;
}
.createaccount button:hover{
  border: none;
}
