@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}
.Topcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.headercontainer{
    width: 100%;
    background-color: black;
    display: flex;
    padding: 30px 50px;
  
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2a2a2a;
}
.parabolalogo h1{
    color: #c9a96e;
    letter-spacing: 17px;
    font-weight: 100;
    padding: 10px;
}
.parabolanavigation nav ul{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    gap: 50px;
    /* justify-content: space-around; */
    font-size: 18px;
  
  
}
.parabolanavigation nav ul li{
    color: #c9a96e;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    transition:transform  0.6s ease;
    cursor: pointer;
  
}
.parabolanavigation nav ul a {
     color: #c9a96e;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
}
.parabolanavigation nav ul li:hover{
   transform: scale(1.2);
   color: rgb(214, 213, 213);
  
}
.parabolanavigation {
   /* background-color: #c9a96e; */
   /* width: 46%; */
}